h1 {
    font-style: italic;
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    text-align: center;
    color: white;
    font-variant: small-caps;
}

body {
        background-image: url("pikachu.png");
        background-size: 100%;
        background-repeat: no-repeat;
}

div.digits {
    float: left;
    padding-right: 20px;
    padding-left: 5px;
    padding-top: 2px;
}

div.calculator {
    width: 300px;
    height: 220px;
    margin-left: 500px;
}

div.operations {
    padding-top: 2px;
}

.btn {
    color: white;
    background-color: #E0441C;
    width: 3em;
    height: 2em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1em;
    text-shadow: 2px 2px 5px black;
    border-color: black;
}

.bigger-btn {
    color: white;
    background-color: #E0441C;
    width: 3em;
    height: 5em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1em;
    text-shadow: 2px 2px 5px black;
    border-color: black;
}

#input {
    border-width: 3px;
    border-color: black;
    border-style: groove;
    font: 20px Helvetica;
    text-align: right;
}

table {
    padding-top: 10px;
}
