h1 {
    font-style: italic;
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
}

body {
        background-color: whitesmoke;
}

div.digits {
    float: left;
    padding-right: 20px;
    padding-left: 5px;
    padding-top: 2px;
}

div.calculator {
    width: 300px;
    height: 300px;
    background: lightblue;
}

div.operations {
    padding-top: 2px;
}